body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.profile-header {
  text-align: center;
  padding: 20px;
}

.profile-picture {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-header h1 {
  margin: 10px 0 5px;
  font-size: 24px;
  color: #4682b4;
}

.profile-header p {
  margin: 5px 0;
  color: #888;
}

.section {
  margin: 20px 0;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
  color: #4682b4;
  border-bottom: 2px solid #4682b4;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.section p, .section ul {
  margin: 10px 0;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section ul li {
  background: #e0f7fa;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.section ul li:nth-child(odd) {
  background: #b3e5fc;
}

.contact-info a {
  color: #4682b4;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

#appointment-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4682b4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 20px 0;
}

#appointment-button:hover {
  background-color: #4169e1;
}

.calendar {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.calendar table {
  width: 100%;
  border-collapse: collapse;
}

.calendar th, .calendar td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.calendar th {
  background-color: #4682b4;
  color: white;
}

.calendar td:hover {
  background-color: #e0e0e0;
}
