<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
    <display-name>ProductManagementApplication</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>
            org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter
        </filter-class>
        <init-param>
            <param-name>actionPackages</param-name>
            <param-value>com.example</param-value>
        </init-param>
        <init-param>
            <param-name>excludeParams</param-name>
            <param-value>TestQuestionServlet</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>TestQuestionServlet</servlet-name>
        <servlet-class>com.example.TestQuestionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestQuestionServlet</servlet-name>
        <url-pattern>/TestQuestionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StoreResultsServlet</servlet-name>
        <servlet-class>com.example.StoreResultsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StoreResultsServlet</servlet-name>
        <url-pattern>/StoreResultsServlet</url-pattern>
    </servlet-mapping>

</web-app>
